:root {
  font-family: Inter, sans-serif;
  font-weight: 500;

  --color-primary: #457b9d;
  --color-primary-light: #a8dadc;
  --color-primary-dark: #1d3557;
  --color-secondary: #e63946;
  --color-secondary-dark: #b82e38;
  --color-light-grey: #e8ebee;
  --color-text: #030509;
  --color-white: #f4f5f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: var(--color-text);

  background-color: var(--color-primary-dark);
}
